{
    "useTabs": false,
    "printWidth": 180,
    "tabWidth": 2,
    "singleQuote": true,
    "trailingComma": "all",
    "jsxBracketSameLine": false,
    "parser": "typescript",
    "bracketSpacing": true,
    "semi": false
}
